backend/target
backend/database.db
backend/.env
backend/screen-frontend-build
backend/slide_images/*
screen-frontend/node_modules
screen-frontend/build
.direnv/
.envrc
# admin-frontend has its own .gitignore