#floating-container {
    position: static;
    width: 100%;
    height: 100%;
    background-color: white;
    overflow: hidden;
}

#floating {
    float: left;    
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: gray;
}