:root {
    --color-dark-gray: #333;
    --color-white: #fff;

    overflow: hidden;
}

* {
    margin: 0;
}

p {
    font-size: 1vw;
    font-style: normal;
}

.sl-stop-point-name {
    display: flex;
}

.sl-departure {
    display: grid;
    grid-template-columns: 8fr 2fr 2fr 1fr;
    margin: 0.3vh;
    border: solid #555555 0.2vh ;
    border-radius: 0.2vw;
    height: 6.4%; /*experimentellt fastställd konstant som motsvarar 1/8 av hälften av 100 korrigerad för marginalerna mellan elementen*/
}

.sl-departure-left {
    grid-column: 1;
    align-items: center;
}

.sl-line-badge {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sl-line-number {
    align-self: center;
}

.sl-departure>* {
    margin: auto;
}

.sl-departure-left {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 100%;
    margin: 0;
}

.sl-departure-left p {
    padding-left: 0.2vw;
    
}
