#root {
  display: grid;  
  grid-template-columns: 6fr 2fr;
  grid-template-rows: 1fr 15fr;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.header {
  grid-column: 1 / span 2;
  grid-row: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 0.1vw solid #646cff;
}

.header img {
  margin-left: 1vw;
  height: 5vh;
}

.header h1 {
  margin: auto;
  text-align: center;
}

.left {
  grid-row: 2;
  grid-column: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right {
  grid-row: 2;
  grid-column: 2;
  display: grid;
  grid-template-rows: 1fr 39fr;
  width: 100%;
  height: 100%;
  border-left: 0.1vw solid #646cff;
  min-height: 0;
}

.last-update {
  grid-row: 1;
  text-align: center;
  justify-content: center;
}

.sl-departure-list {
  grid-row: 2;
  overflow: hidden;
}

.calendar-container {
  grid-row: 3;
  width: 99%;
  height: 100%;
  overflow: hidden;
}
.calendar-frame {
  filter: brightness(86%) invert(1) hue-rotate(180deg);
  background-color: #00000000;
  width: 100%;
  height: 100%;
}