#root {
  display: grid;
  grid-template-columns: 6fr 2fr;
  margin: 0;
  padding: 0;
  border: #ff642b 0.5vw solid;
  width: 100vw;
  text-align: center;
}

#slideph{
  width: 80%;
}


.large-text {
  font-size: 16px;
  line-height: 16px;
  display: inline;
}


.left {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right {
  grid-column: 2;
  display: grid;
  grid-template-rows: auto 1fr 1fr;
  height: 100vh;
  width: 100%;
  border-left: 0.1vw solid #646cff;
}

.last-update {
  height: fit-content;
  grid-row: 1;
}

.sl-departure-list {
  grid-row: 2;
  overflow: hidden;
}

/* .calendar-placeholder {
  grid-row: 3;
} */

.calendar-frame {
  filter: invert(1) hue-rotate(180deg);
  background-color: #00000000;
  width: auto;
  height: 100%;
}
